


<div class="login-wrapper d-flex align-items-center justify-content-center">
  <div class="card login-card shadow-lg">
    <div class="card-body p-4">

      <h4 class="text-center fw-bold mb-1">Selamat Datang</h4>
      <p class="text-center text-muted mb-4">
        Silakan login untuk melanjutkan
      </p>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          placeholder="Masukkan username"
          [(ngModel)]="username"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Masukkan password"
          [(ngModel)]="password"
        />
      </div>

      <div *ngIf="error" class="alert alert-danger py-2 text-center">
        {{ error }}
      </div>

      <button class="btn btn-primary w-100 mt-2" (click)="login()">
        Login
      </button>

      
    </div>
  </div>
</div>
